
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Rubik', sans-serif;
}

.container{
    width: 1140px;
    margin: auto;
    //border: rgb(4, 164, 28) 3px solid;
}

.header img{
    width: 1140px;
}

.footer img{
    width: 1140px;
}

.main-columns{
    display: flex;
    margin-top: 20px;
    //border: rgb(38, 154, 243) 2px solid;
}

.main-columns-first{
    width: 260px;
    padding: 35px 30px 35px 30px;
    background-color: #82B440;
    box-shadow: 3px 3px 2px 0 rgba(130, 180, 64, 1);
    //border: rgb(66, 41, 255) 2px solid;
}

.navigation-list {
    margin-bottom: 165px;
    padding-left: 0px;
    //border: red 3px solid;
}


.navigation-list li{
    list-style: none;
    margin-bottom: 25px;
    line-height: 50px;      
}

.navigation-list li a{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    font-size: 16px;
    gap: 20px;
    text-decoration: none;
    color: #fff;
    //border: yellow 1px solid;
}

.navigation-list li a:hover {
    background-color: #2F4858;
    color: #fff;
    border-radius: 15px;
    transition: 300ms background-color ease-in-out;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2F4858;
    position: relative;
}

.icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}

.main-columns-first-image{
    margin-bottom: 25px;
}


.main-columns-second{ 
    width: 845px;
    margin-left: 35px;
    margin-bottom: 15px;
    //border: #a208a4 2px solid;
}

.main-columns-second-first{
    display: flex;
    flex-direction: column;
    padding: 50px 35px 20px 65px;
    background-color: #ffffff;
    box-shadow: -3px 3px 4px 0 rgba(210, 209, 209, 1);
    //border: red 2px solid;
}

.second-column-first-headline{
    display: flex;
}

.second-column-first-headline img{
    margin-right: 10px;
}

.second-column-first-text .spot{
    margin-bottom: 40px;
}

.second-column-first-text{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 170%;
    //border: red 1px solid;
}


.main-columns-second-second {
    margin-top: 65px;
    padding: 15px 300px 45px 65px;
    box-shadow: -3px 3px 4px 0 rgba(210, 209, 209, 1);
    margin-bottom: 50px;
    //border: red 1px solid;
}

.second-column-second-headline{
    display: flex;
    margin-bottom: 30px;
}

.second-column-second-headline img{
    margin-right: 10px;
}

.button{
    background-color: #82B440;
    color: #ffffff;
    border: none;
    padding: 7px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.second-column-second-text{
    width: 375px;
    //border: #e10618 2px solid;
    font-size: 16px;
}

.infoedit{
    display: flex;
    justify-content: space-between;
    //border: #3239f2 2px solid;
}

.bottomline{
    border-top: 0.5px solid #989898;
    width: 100%;
    margin: 30px 0;
    //border: brown 2px solid;
}


/* Abonnement */

.component--info {
	width: 375px;
}
 
.component--info .title {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 margin-bottom: 15px;
}

 .component--info .title label {
	 width: 85px;
	 height: 37px;
	 background-color: #2F4858;
	 border-radius: 25px;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 position: relative;
	 z-index: 1;
	 cursor: pointer;
}

 .component--info .title label::before {
	 content: ' ';
	 width: 32px;
	 height: 32px;
	 border-radius: 25px;
	 background-color: #fff;
	 position: absolute;
	 left: 3px;
	 top: 3px;
	 z-index: -1;
	 transition: 300ms left ease-in-out;
}
 .component--info .title label span {
	 width: 35px;
	 height: 35px;
	 font-size: 15px;
     font-weight: bold;
	 display: grid;
	 place-items: center;
	 color: #2F4858;
}
 
 .component--info .content {
	 font-size: 13px;
	 margin-bottom: 40px;
     height: 35px;
}
 .component--info .content span::before {
	 content: attr(data-subscribe);
}
 
 .component--info #info-switch {
	 display: none;
}
 .component--info #info-switch:checked + .title label::before {
	 left: 50px;
}
 
.component--info #info-switch:checked + .title + .content span::before {
	 content: attr(data-notsubscribe);
}
 

/* Responsive screen start */

@media screen and (max-width: 991px) {

    .container{
        width: 960px;
       // border: red 1px solid;
    }

    .header img{
        width: 960px;
    }
    
    .footer img{
        width: 960px;
    }

    .main-columns-first{
        display: none;
    }

    .main-columns-second{    
        
        width: 960px;
        margin: auto;
    }

    .second-column-second-headline{
        font-size: 17px;
        //border: red 1px solid;
    }

    .second-column-second-text{
        font-size: 17px;
    }

    .component--info .title {
        font-size: 17px;
    }

    .component--info .title label span {
        font-size: 17px;
    }
    
    .component--info .content {
            font-size: 14px;
    }

  }


  @media screen and (max-width: 767px) {
 
    .container{
        width: 720px;
        //border: red 1px solid;
    }

    .header img{
        width: 720px;
    }
    
    .footer img{
        width: 720px;
    }

    .main-columns-first{
        display: none;
    }

    .second-column-first-headline{
        font-size: 17px;
        display: flex;
    }

    .second-column-first-text{
        font-size: 17px;
       
    }

    .main-columns-second{    
        
        width: 720px;
        margin: auto;
    }

    .second-column-second-headline{
        font-size: 18px;
        //border: red 1px solid;
    }

    .second-column-second-text{
        font-size: 18px;
    }

    .component--info .title {
        font-size: 18px;
    }

    .component--info .title label span {
        font-size: 18px;
    }
    
    .component--info .content {
            font-size: 14px;
    }

  }

  @media screen and (max-width: 575px) {
 
    .container{
        width: 560px;
        //border: red 1px solid;
    }

    .header img{
        width: 560px;
    }
    
    .footer img{
        width: 560px;
    }

    .main-columns-first{
        display: none;
    }

    .second-column-first-headline{
        font-size: 19px;
        display: flex;
    }

    .second-column-first-text{
        font-size: 19px;
       
    }

    .main-columns-second{    
        
        width: 560px;
        margin: auto;
    }

    .second-column-second-headline{
        font-size: 19px;
        width: 350px;
        //border: red 1px solid;
    }

    .second-column-second-text{
        font-size: 19px;
    }

    .component--info .title {
        font-size: 19px;
    }

   .component--info .title label span {
    font-size: 18px;
    }

    .component--info .content {
        font-size: 14px;
   }

  }